*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    
}